
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")

<body>

    <!--*******************
        Preloader start
    ********************-->
    @await Html.PartialAsync("/Views/AdminLayout/PreloaderPartial.cshtml")

    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        @await Html.PartialAsync("/Views/AdminLayout/NavHeaderPartial.cshtml")

        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        @await Html.PartialAsync("/Views/AdminLayout/HeaderPartial.cshtml")

        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        @await Html.PartialAsync("/Views/AdminLayout/SidebarPartial.cshtml")

        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                                
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        @await Html.PartialAsync("/Views/AdminLayout/FooterPartial.cshtml")

        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    @await Html.PartialAsync("/Views/AdminLayout/ScriptPartial.cshtml")

</body>

</html>


