@model IEnumerable<ResultContactDto>

@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<div class="email-left-box">
    <a href="/Admin/ContactAdmin/AddSendMessage" class="btn btn-primary btn-block">Yeni Mesaj oluştur</a>


   
<div class="mail-list mt-4">
    <a href="/Admin/ContactAdmin/Inbox" class="list-group-item border-0 text-primary p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Kutusu</b> <span class="badge badge-primary badge-sm float-right m-t-5">@ViewBag.contactCount</span> </a>
        <a href="/Admin/ContactAdmin/Sendbox" class="list-group-item border-0 text-success p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Gönderilenler <span class="badge badge-success badge-sm float-right m-t-5">@ViewBag.sendMessageCount</span></a>
    <a href="#" class="list-group-item border-0 text-danger  p-r-0"><i class="fa fa-star-o font-18 align-middle mr-2"></i>Önemli <span class="badge badge-danger badge-sm float-right m-t-5">49</span> </a>
    <a href="#" class="list-group-item border-0 text-warning p-r-0"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i>Taslaklar</a>
    <a href="#" class="list-group-item border-0 text-dark p-r-0"><i class="fa fa-trash font-18 align-middle mr-2"></i>Çöp Kutusu</a>
</div>

    <h5 class="mt-5 m-b-10">Categories</h5>
    @await Html.PartialAsync("SideBarAdminContactCategoryPartial")

</div>
<div class="email-right-box">
    <div role="toolbar" class="toolbar">
        <div class="btn-group">
            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-dark dropdown-toggle" type="button">
                Gelen Mesajlar
            </button>

        </div>
    </div>
    <div class="email-list" m-t-15>
        @foreach (var item in Model)
        {
            <div class="message">
                <a href="/Admin/ContactAdmin/MessageDetailsByInbox/@item.ContactId">
                    <div class="col-mail col-mail-1">
                        <div class="email-checkbox">
                            <input type="checkbox" id="chk8">
                            <label class="toggle" for="chk8"></label>
                        </div><span class="star-toggle ti-star"></span>
                    </div>
                    <div class="col-mail col-mail-2">
                        <div class="subject">@item.Message.Substring(0,20)...</div>
                        <div class="date">@item.Date</div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

