

<div class="mail-list mt-4">
    <a href="/Admin/ContactAdmin/Inbox" class="list-group-item border-0 text-primary p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i> <b>Gelen Kutusu</b> <span class="badge badge-primary badge-sm float-right m-t-5">198</span> </a>
    <a href="/Admin/ContactAdmin/Sendbox" class="list-group-item border-0 text-success p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Gönderilenler <span class="badge badge-success badge-sm float-right m-t-5">23</span></a>
    <a href="#" class="list-group-item border-0 text-danger  p-r-0"><i class="fa fa-star-o font-18 align-middle mr-2"></i>Önemli <span class="badge badge-danger badge-sm float-right m-t-5">49</span> </a>
    <a href="#" class="list-group-item border-0 text-warning p-r-0"><i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i>Taslaklar</a>
    <a href="#" class="list-group-item border-0 text-dark p-r-0"><i class="fa fa-trash font-18 align-middle mr-2"></i>Çöp Kutusu</a>
</div>